body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'im-fell-italic';
  src: local('im-fell-italic'), url(./fonts/IMFellFrenchCanon-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Alta';
  src: local('Alta'), url(./fonts/Alta_regular.otf) format('truetype');
}
